.cpm-iframe-container {
	position: relative;
}
.cpm-iframe-overlay {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
#codepeople_post_map_form .cpm_map_container{width:100% !important;}